{% extends 'base.html' %}

{% block title %}Beranda - Website Flask{% endblock %}

{% block content %}
<span class="badge">Flask + SQLite Database</span>

<h1>Daftar Pengunjung</h1>
<p class="description-text" style="color: #6c757d; margin-top: 10px; margin-bottom: 20px;">
    Website ini dibuat sebagai sarana <strong>Rekap Stok Barang, Keluar dan Masuk Barang</strong> untuk menertibkan ketersediaan barang yang ada.
</p>

<hr class="divider">

<div class="list-container">
    <h3>Siapa saja yang sudah berkunjung:</h3>
    {% if daftar_pengunjung %}
        <ul class="user-list">
            {% for p in daftar_pengunjung %}
                <li>
                    <span>👤 {{ p.nama }}</span>
                    {% if session.get('role') == 'admin' %}
                    <!-- Tombol Edit & Hapus (Khusus Admin) -->
                    <div class="action-buttons">
                        <a href="{{ url_for('edit', id=p.id) }}" class="btn-edit">Edit</a>
                        <a href="{{ url_for('delete', id=p.id) }}" class="btn-delete" onclick="return confirm('Yakin ingin menghapus nama ini?')">Hapus</a>
                    </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="empty-text">Belum ada data di database.</p>
    {% endif %}
</div>
{% endblock %}